<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="css/font-awesome.css" />
    <link rel="stylesheet" href="css/bootstrap.css" />
    <link rel="stylesheet" href="css/styles.css" />
     <link rel="icon" href="images/search-house.png" />
    <link rel="stylesheet" href="./css/footer.css">
    <link rel="stylesheet" href="./css/faq.css">
    <title>Sierra Church Finder</title>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg sticky-top navbar-light">
      <div class="container">
        <div>
          <a class="navbar-brand" href="/home">
            <h1 class="sierra">SIERRA CHURCH</h1>
          </a></div>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarNavDropdown"
          aria-controls="navbarNavDropdown"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="navbar-nav ms-auto">
            <li class="nav-item">
              <a class="nav-link" aria-current="page" href="/home">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/about">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/map">Map</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/churches">Churches</a>
            </li>
            <li class="nav-item">
              <a
                class="nav-link btn btn-outline-secondary px-4 mx-4"
                href="/contact"
                >Contact Us</a
              >
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <h1>Frequently Asked Questions</h1>
    <div class="faq-container">
      <div class="faq active">
        <h3 class="faq-title">
          What is the purpose of the church finder application?
        </h3>

        <p class="faq-text">
          The church finder application is designed to help users easily locate and connect with churches in their area, making it simple to discover worship services, events, and community gatherings.
        </p>

        <button class="faq-toggle">
          <i class="fas fa-chevron-down"></i>
          <i class="fas fa-times"></i>
        </button>
      </div>

      <div class="faq">
        <h3 class="faq-title">
          How do I search for churches using the application?
        </h3>
        <p class="faq-text">
          To find churches, simply enter your location or use your device's GPS to detect your current position. The application will then display a list of nearby churches along with details about each one.
        </p>
        <button class="faq-toggle">
          <i class="fas fa-chevron-down"></i>
          <i class="fas fa-times"></i>
        </button>
      </div>
      
      <div class="faq">
        <h3 class="faq-title">
          Can I filter search results based on denomination or specific criteria?
        </h3>
        <p class="faq-text">
          Yes, the application allows you to filter search results based on denomination, service times, size, and other criteria, ensuring that you find a church that aligns with your preferences.
        </p>
        <button class="faq-toggle">
          <i class="fas fa-chevron-down"></i>
          <i class="fas fa-times"></i>
        </button>
      </div>
      
      <div class="faq">
        <h3 class="faq-title">
          Is the application available for both iOS and Android devices?
        </h3>
        <p class="faq-text">
          No, the church finder application is not available for both iOS and Android devices. But you can access on any dervice via the URL.
        </p>
        <button class="faq-toggle">
          <i class="fas fa-chevron-down"></i>
          <i class="fas fa-times"></i>
        </button>
      </div>
      
      <div class="faq">
        <h3 class="faq-title">
          How frequently is the information about churches updated?
        </h3>
        <p class="faq-text">
          The application regularly updates its database to provide accurate and up-to-date information about churches, including service schedules, contact details, and special events.
        </p>
        <button class="faq-toggle">
          <i class="fas fa-chevron-down"></i>
          <i class="fas fa-times"></i>
        </button>
      </div>
    

    <div class="faq">
      <h3 class="faq-title">
        Can I get directions to a church using the application?
      </h3>
      <p class="faq-text">
        Absolutely! Once you've selected a church, the application provides you with detailed directions and a map to help you easily navigate to your chosen place of worship.
      </p>
      <button class="faq-toggle">
        <i class="fas fa-chevron-down"></i>
        <i class="fas fa-times"></i>
      </button>
    </div>

    <div class="faq">
      <h3 class="faq-title">
        Is the church finder application free to use?
      </h3>
      <p class="faq-text">
        Yes, the basic features of the church finder application are available for free. However, there may be optional premium features or subscriptions for enhanced functionality.
      </p>
      <button class="faq-toggle">
        <i class="fas fa-chevron-down"></i>
        <i class="fas fa-times"></i>
      </button>
    </div>

    <div class="faq">
      <h3 class="faq-title">
        What if I have feedback or encounter an issue with the application?
      </h3>
      <p class="faq-text">
        We welcome your feedback! If you have suggestions, questions, or encounter any issues while using the application, please reach out to our support team through the provided contact channels.
      <button class="faq-toggle">
        <i class="fas fa-chevron-down"></i>
        <i class="fas fa-times"></i>
      </button>
    </div>

    <div class="faq">
      <h3 class="faq-title">
        How can churches be added or updated in the application?
      </h3>
      <p class="faq-text">
        Churches can be added or updated by the application administrators. 
      </p>
      <button class="faq-toggle">
        <i class="fas fa-chevron-down"></i>
        <i class="fas fa-times"></i>
      </button>
    </div>

    <div class="faq">
      <h3 class="faq-title">
        Is my personal information shared with churches when I use the application?
      </h3>
      <p class="faq-text">
        No, your personal information is not shared with churches when you use the application. Your privacy and data security are important to us. We only provide the necessary information to help you connect with the churches you choose. 
      </p>
      <button class="faq-toggle">
        <i class="fas fa-chevron-down"></i>
        <i class="fas fa-times"></i>
      </button>
    </div>
  </div>
  
   <!--Important link from source https://bootsnipp.com/snippets/rlXdE-->

<!-- <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script> -->
<!------ Include the above in your HEAD tag ---------->

<!-- Footer -->
  <section id="footer">
    <div class="container">
      <div class="row text-center text-xs-center text-sm-left text-md-left">
        <div class="col-xs-12 col-sm-4 col-md-4">
          <h5>Quick links</h5>
          <ul class="list-unstyled quick-links">
            <li><a href="/home"><i class="fa fa-angle-double-right"></i>Home</a></li>
            <li><a href="/about"><i class="fa fa-angle-double-right"></i>About</a></li>
            <li><a href="/faq"><i class="fa fa-angle-double-right"></i>FAQ</a></li>
            <li><a href="/churches"><i class="fa fa-angle-double-right"></i>Get Started</a></li>
            <li><a href="/home"><i class="fa fa-angle-double-right"></i>Videos</a></li>
          </ul>
        </div>
        <div class="col-xs-12 col-sm-4 col-md-4">
          <h5>Quick links</h5>
          <ul class="list-unstyled quick-links">
            <li><a href="/home"><i class="fa fa-angle-double-right"></i>Home</a></li>
            <li><a href="/about"><i class="fa fa-angle-double-right"></i>About</a></li>
            <li><a href="/faq"><i class="fa fa-angle-double-right"></i>FAQ</a></li>
            <li><a href="/churches"><i class="fa fa-angle-double-right"></i>Get Started</a></li>
            <li><a href="/home"><i class="fa fa-angle-double-right"></i>Videos</a></li>
          </ul>
        </div>
        <div class="col-xs-12 col-sm-4 col-md-4">
          <h5>Quick links</h5>
          <ul class="list-unstyled quick-links">
            <li><a href="/home"><i class="fa fa-angle-double-right"></i>Home</a></li>
            <li><a href="/about"><i class="fa fa-angle-double-right"></i>About</a></li>
            <li><a href="/faq"><i class="fa fa-angle-double-right"></i>FAQ</a></li>
            <li><a href="/churches"><i class="fa fa-angle-double-right"></i>Get Started</a></li>
            <li><a href="https://kharisprotech.vercel.app" title="Design and developed by"><i class="fa fa-angle-double-right"></i>Kharis pro-tech</a></li>
          </ul>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-5">
          <ul class="list-unstyled list-inline social text-center">
            <li class="list-inline-item"><a href="/home"><i class="fa fa-facebook"></i></a></li>
            <li class="list-inline-item"><a href="/home"><i class="fa fa-twitter"></i></a></li>
            <li class="list-inline-item"><a href="/home"><i class="fa fa-instagram"></i></a></li>
            <li class="list-inline-item"><a href="/home"><i class="fa fa-google-plus"></i></a></li>
            <li class="list-inline-item"><a href="/home" target="_blank"><i class="fa fa-envelope"></i></a></li>
          </ul>
        </div>
        </hr>
      </div>  
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-2 text-center text-white">
          <!-- <p><u><a href="https://www.nationaltransaction.com/">National Transaction Corporation</a></u> is a Registered MSP/ISO of Elavon, Inc. Georgia [a wholly owned subsidiary of U.S. Bancorp, Minneapolis, MN]</p> -->
          <p class="h">Copyright &copy 2023<a class="text-green ml-2" href="https://kharisprotech.vercel.app" target="_blank">  Kharis pro-tech</a></p>
        </div>
        </hr>
      </div>  
    </div>
  </section>
  <!-- ./Footer -->
    <button id="to-top" class="to-top-btn">
      <img src="images/up-arrow.png" alt="" />
    </button>
    <script src="./js/faq.js"></script>
    <script src="js/bootstrap.bundle.min.js"></script>
    <script src="js/script.js"></script>

    <!-- Brevo Conversations {literal} -->
  <script>
    (function(d, w, c) {
        w.BrevoConversationsID = '64d16e3a70d0936f101f6bc7';
        w[c] = w[c] || function() {
            (w[c].q = w[c].q || []).push(arguments);
        };
        var s = d.createElement('script');
        s.async = true;
        s.src = 'https://conversations-widget.brevo.com/brevo-conversations.js';
        if (d.head) d.head.appendChild(s);
    })(document, window, 'BrevoConversations');
  </script>
  <!-- /Brevo Conversations {/literal} -->
    
  </body>
</html>
